.about-us-container {
    padding: 20px;
    max-width: 1000px;
    margin: 0 auto;
    font-family: 'Arial', sans-serif;
    position: relative;
}

.hero-section {
    text-align: center;
    padding: 50px 0;
    background-color: #58575723;
    animation: fadeIn 1s ease-in;
}

.hero-section h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
}

.hero-section p {
    font-size: 1.2em;
    color: #c54b4b;
}

.content-section {
    margin: 20px 0;
    animation: slideUp 1.5s ease-in-out;
}

.team-container {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    justify-content: center;
    padding: 40px 0;
    margin: 0 auto;
}

.team-member {
    background-color: #f9f9f9;
    padding: 30px;
    border-radius: 12px;
    text-align: center;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.team-member:hover {
    transform: translateY(-10px);
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
}

.team-image {
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 15px;
    transition: transform 0.3s ease;
}

.team-member:hover .team-image {
    transform: scale(1.1);
}

.team-info h3 {
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
}

.team-info p {
    font-size: 1rem;
    color: #666;
    line-height: 1.6;
    margin-bottom: 15px;
}

.team-info p:last-child {
    font-size: 0.9rem;
    color: #777;
}

@media (min-width: 768px) {
    .team-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 1024px) {
    .team-container {
        grid-template-columns: repeat(4, 1fr);
    }
}


@media (max-width: 767px) {
    .team-member {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .team-image {
        margin-left: auto;
        margin-right: auto;
    }
}


@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes slideUp {
    from {
        transform: translateY(100px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

